*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Outfit', sans-serif;
}

.row{
    display: flex;
    flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}
.row::after{
    display: table;
	content: "";
	clear: both;
}
.FutbolQuiz-logo{
    max-width: 250px;
	width: 40vw;
	height: auto;
}

progress-bar{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.progress-bar > .barra-llenado{
	width: 80vw;
	max-width: 350px;
	height: 3em;
	border-radius: 10px;
	border: 2px solid #111;
	display: flex;
	overflow: hidden;
}
.progress-bar > .barra-llenado::before{
	content: "";
	background-color: #970404;
	width: calc(var(--width, 0) * 1%);
}

body{
	
    image-resolution: px 100px;
	
    background: url(/img/fondo-blanco-gris-brillante-lineas-onduladas_1017-25101.webp);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 50vh;
}




nav{
	height: 10vh;
}

main{
	min-height: 80vh;
}

footer{
	height: 10vh;
	background-color: #0a98da;
	color: #f1f1f1;
	display: flex;
	align-items: center;
}



.btn{
	display: block;
	background-color: #f1f1f1;
	color: #3c3c3c;
	border: 1px solid #111;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 10px 17px;
	margin: 5px 3px;
	border-radius: 5px;
	width: 100%;
}
.btn:hover{
	background-color: #990303;
	color: #ffffff;
}

.btn-aceptar, .btn-cancelar{
	color: #f1f1f1;
	padding: 10px 17px;
	margin: 5px;
	border: 1px solid #111;
	border-radius: 5px;
}
.btn-aceptar{
	background-color: #b1d68c;
}

.btn-cancelar{
	background-color: rgb(252, 92, 92);
}

.btn-aceptar:hover{
	background-color: #78d121;
}

.btn-cancelar:hover{
	background-color: red;
}

.btn-azul{
	background-color: #c2c5c7;
	color: #f1f1f1;
	font-weight: bolder;
	text-align: center;
	text-decoration: none;
	padding: 10px 17px;
	margin: 5px;
	border: 1px solid #111;
	border-radius: 5px;
	width: 120px;
	cursor: pointer;
}

.btn-respuesta-correcta{
	background-color: #78d121;
}


.btn-respuesta-incorrecta{
	background-color: red;
}

#cr{
	background: url(img/fondo-blanco-gris-brillante-lineas-onduladas_1017-25101.webp);
    
}






